*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

%flexing{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.all{
    @extend %flexing;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px 10px;
    text-align: center;
    
    .scandiweb{
        color: red;
    }
    
    #slide-select{
        width: 45px;
        height: 30px;

    }

    .goTo{
        margin-top: 10px;
    }

}

.carousel{
    display: flex;
    align-items: center;
    
    .container{
        width: 1000px; /* set carousel size*/
        margin: auto;
        overflow: hidden;

    }

    .slide{
        display: flex;
        width: 99999px;
        height: 700px;
        .content{
            @extend %flexing;
            height: 100%;
            width: 1000px; /* similar to container size*/
            font-size: 50px;
            object-fit: fill;
        
            .gallery{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                img{
                    padding: 10px;
                    height: 50%;
                }
            }
            
            .text{
                @extend %flexing;
                align-items: center;
                margin: auto 0;
                font-size: 30px;
                .description{
                    font-size: 19px;
                    padding: 5px;
                }
                
                img{
                    width: 50%;
                    height: 50%;
                    align-self: center;

                }

            }
     
        }

    }

    #prev, #next{
        border: none;
        background-color: Transparent;
        height: 50px;
        width: 50px;
        cursor: pointer;
        
        i{
            font-size: 50px;
        }
    }

    #prev:focus, #next:focus {
        outline: 0;
      
      }

    #prev:active,  #next:active {
      transform: translateY(4px);
      
    }
    
}







/* TABLET */

@media screen and (max-width: 768px) { 
    .carousel{

        .container{
            width: 600px;
        
        }

        .slide{
            height: 500px;
            
            .content{
                width: 600px;

               
            
            }
    
        }

    }

}


/* PHONE */

@media screen and (max-width: 375px) {
    .all{

        font-size: 14px;
        margin: 5px 5px;

    .carousel{
        
        .container{
            width: 300px;
        
        }

        .slide{
            height: 150px;
            
            .content{
                width: 300px;
                .text{
                    margin: auto 5px;
                    font-size: 13px;
                    .description{
                        font-size: 11px;
                        padding: 5px;
                    }
        
                    }
      
            
                }
    
            }
        
            #prev, #next{
                height: 10px;
                width: 10px;

                
                i{
                    font-size: 22px;
                }
            }

        }
    }

}



